_site
.sass-cache
_includes/.ipynb_checkpoints/

*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# celery beat schedule file
celerybeat-schedule

# direnv
**/.direnv
**/.envrc

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# pyenv settings
**/.env
**/.python-version

# data science
**/datasets/
**/models/
**/logs/
**/tmp/

**/.DS_Store
**/.doit.db

